/* --------------------------------------------------------- */
/* STYLING*/
/* --------------------------------------------------------- */

.section-content {
    margin-top: 15px;
}

.nav-highlight:hover {
    color: #34495e !important;
}

h1 {
    border-bottom: solid 2px #e67e22;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h1.max-temp {
    border-bottom: solid 2px #f1c40f;    
}

h1.wind {
    border-bottom: solid 2px #e74c3c;    
}

h1.cloud {
    border-bottom: solid 2px #3498db;
}
h1.humd {
    border-bottom: solid 2px #2ecc71;
}

h1.comp {
    border-bottom: solid 2px #ecf0f1;
}

h1.data {
    border-bottom: solid 2px #9b59b6;
}

h2 {
    padding: 20px;
}

h2.max-temp {
    color: #f1c40f;    
}

h2.wind {
    color: #e74c3c;    
}

h2.cloud {
    color: #3498db;
}
h2.humd {
    color: #2ecc71;
}

.test {
    background-color: #9b59b6;
}

img.index {
    border-radius: 3%;
    border: 3px solid #e67e22;
}

img.temp {
    border-radius: 3%;
    border: 3px solid #f1c40f;
}

img.humd {
    border-radius: 3%;
    border: 3px solid #2ecc71;
}

img.cloud {
    border-radius: 3%;
    border: 3px solid #3498db;
}

img.wind {
    border-radius: 3%;
    border: 3px solid #e74c3c;
}

img.side {
    transition: 0.2s;
}

img.side:hover {
    border-radius: 3%;
    border: 3px solid #34495e;
}

ion-icon {
    margin-left: -15px;
    margin-right: 5px;
}


